<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <base href="/daq-release/">
  <title>{% block title %}DAQ Report{% endblock %}</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="sidebar">
    <h2>Navigation</h2>
    <ul>
      {% for label, url in links.items() %}
        <li>
          <a href="{{ url }}"{% if "http" in url %} target="_blank"{% endif %}>{{ label }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if repo_links %}
      <h3>Repo Summaries</h3>
      <ul>
        {% for repo, url in repo_links.items() %}
          <li><a href="{{ url }}">{{ repo }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
