{% extends "base_template.html" %}

{% block title %}Integration Test Summary{% endblock %}

{% block content %}
<h1>Integration Test Report</h1>

<p>
  <strong>{{ totals.total_run }}</strong> total tests —
  {{ totals.passed }} passed,
  {{ totals.failed }} failed,
  {{ totals.skipped }} skipped,
  {{ totals.errors }} errors.
</p>

{% for repo, pytest_list in pytest_results.items() %}
  <h2>{{ repo }} Results</h2>

  {% for pytest_result in pytest_list %}
    <h3>{{ pytest_result.test_name }} Results</h3>
    <table>
      <thead>
        <tr>
          <th>Test Case</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for case in pytest_result.testcase_results %}
          <tr>
            <td>{{ case.case_name }}</td>
            <td>
              {% if case.status == 'passed' %}&#x2705
              {% elif case.status == 'failed' %}&#x274C
              {% elif case.status == 'skipped' %}⏩
              {% elif case.status == 'error' %}&#x2757
              {% else %}&#x2753 Unknown
              {% endif %}
              {{ case.status }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endfor %}
{% endblock %}
