<!-- templates/unit_test_template.html -->
{% extends "base_template.html" %}

{% block title %}Unit Test Summary{% endblock %}

{% block content %}
<h1>Unit Test Report</h1>
<p>
  The following packages do not have unit tests written: 
  {% for repo in no_tests %}
    <li>{{ repo }}</li>
  {% endfor %}
</p>
{% for package, tests in unit_test_data.items() %}
  <h2>{{ package }}</h2>
  {% if tests[0][0] is none %}
    <p><strong>&#128679 Unit tests have not been written for <code>{{ package }}</code></strong></p>
  {% else %}
    <table>
      <thead><tr><th>Test</th><th>Status</th></tr></thead>
      <tbody>
        {% for test, status in tests %}
          <tr>
            <td>{{ test }}</td>
            <td>{% if status == 'Passed' %}	&#x2705{% elif status == 'Failed' %}	&#x274C{% else %}⚠️{% endif %} {{ status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}
{% endblock %}
